@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 10px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }

  .el-input--prefix .el-input__inner {
    padding: 0 7px 0 30px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.nest-menu {
  background-color: rgb(50, 89, 197);
}

.comment p {
  line-height: 18px !important;
  margin: 0 !important;
  font-size: 16px;
}

.comment {
  margin-bottom: 12px;
  padding: 8px;
  background: #EBEEF5;
  border-radius: 4px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-b-20 {
  margin-bottom: 20px;
}


.margin-l-6 {
  margin-left: 6px;
}

.margin-l-0 {
  margin-left: 0 !important;
}

.daynamic-margin-l {
  margin-left: 10px;
}

.pageForm {
  margin: 0 50px;

  .filter-item {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .min-width-4 {
    min-width: 24% !important;
  }

  .min-width-3 {
    min-width: 30% !important;
  }

  .daynamic-margin-l {
    margin-left: 1% !important;
  }

  .moblie-max-width-100 {
    max-width: 100px !important;
  }

  .pageForm {
    margin: 0 10px;
  }

  .el-button {
    padding: 12px 10px;
  }
}

.pageForm {

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.el-drawer{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.tableSettingsDrawer {
  padding: 20px
}

.tableSetting {
  label {
    width: 90%;
    margin-top: 10px;
  }
}

.formDrawer {
  padding: 20px;
}

.formDrawer-header {
  margin-bottom: 20px;
}

.formDrawer-body {
  padding: 5px;

  label {
    text-align: left;
  }

  margin-bottom: 50px;
  ;
}

.formDrawer-footer {
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 15px;

  button {
    width: 100%;
  }
}

.commodityDetailDrawer-footer {
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 5px 20px 5px;
}

.margin-top-6 {
  margin-top: 6px;
}

// 解决input自动填充样式问题
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #C7C6C6 inset !important;
  -webkit-text-fill-color: #ededed !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}
